
.forma{
    position: absolute;
    top:5%;
    left:5%;
    /* background-color: rgb(226, 210, 227);*/
    background-image: url('//istarik.ru/file/bg.png') ;
    color: rgb(0, 0, 0);
    outline-color: rgb(0, 0, 0);
    outline-style:auto;
    outline-width: 10px;
    border-radius: 20px;
}
.p{
    position: absolute;
    top:10%;
    left:5%;
    color: rgb(0, 0, 0);
    
}

h1{
    text-align: center;
}










